# Default ignored files
/.idea.DistSysACW/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea.DistSysACW/.idea/httpRequests/
# Datasource local storage ignored files
/.idea.DistSysACW/.idea/dataSources/
/.idea.DistSysACW/.idea/dataSources.local.xml
